.main {
    padding: 50px 0px;
}

.main .wrapper {
    padding: 20px 0px;
    width: 350px;
    margin: auto;
    display: grid;
    place-content: center;
    max-width: 100%;
}

#canvas {
    /* height: 300px; */
    width: 100%;
    /* background-color: blue; */
    /* border-radius: 100%; */
}

input[type=file] {
    display: none;
}

.badge-con {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 10px 0px;
    justify-content: flex-start;
}

img {
    object-fit: cover;
}

.badge-con .badge-box {
    height: 100px;
    width: 100px;
    margin: 5px;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.badge-con .badge-box img {
    border-radius: 10px;
}

.badge-con .badge-box:focus,
.badge-con .badge-box:hover {
    border: 2px solid #80221c;
    border-radius: 10px
}

/* label{
    height: 200px;
    width: 100%;
    background-color: #f9f9f9;
    cursor: pointer;
    border: 4px dashed #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} */